nav{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
ul{
    list-style-type: none;
    text-align: center;
}
li{
    display: inline;

    font-size: 20px;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: white;
}
header{
    margin-top: 50px;
}
/* Ensure proper sizing */
* {
    box-sizing: border-box;
  }
  
  /* Column container */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 30%; /* Set the width of the sidebar */
    background-color: #f1f1f1; /* Grey background color */
    padding: 20px; /* Some padding */
  }
  
  /* Main column */
  .main {
    flex: 70%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */
  }

  Footer{ 
    position: fixed;
     bottom:0;
      background:black;
       width:100%;
    }




